{% extends 'base.html.twig' %}

{% block title %}Modification de profil{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4">Modification du profile</h1>

        {{ form(form) }}
    </div>
{% endblock %}
