{% extends 'base.html.twig' %}

{% block title %}{{ carte.name }}{% endblock %}

{% block body %}
<link rel="stylesheet" href="../style.css">
    <nav class="contentUl">
        <h1 class="titleform" style="font-size=25px;">{{ carte.name }}</h1>
        <dl>
            <center><img style="width: 200px;height: 200px;" src="{{ vich_uploader_asset(carte, 'imageFile')  }}">
            <dt class="titleform">Description</dt>
            <dd class="textform">{{ carte.description }}</dd></center>
        </dl>
    </nav>

{% endblock %}
