{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<nav>
    <a href="www.oldhengames.com"><img src="{{ asset("img/Logos/OHGblack.png") }}" alt="Logo Old Hen Games" /></a>

    
    <button class="Secondary-reverse"
            type="button">
            
            <a href="mailto:aoc.le.jeu@gmail.com">Contact </a> 
            
    </button>  
    

</nav>

<main>

    <img src="img/Logos/AOCwhite.png" alt="Logo Age Of Champagne">

    <footer>
    
        <button class="Default"
                type="button">
                Inscription
        </button>         
        
        <button class="Secondary"
                type="button">
                Connexion
        </button>  
    
    </footer>

</main>

{% endblock %}
