{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<nav>
    <a href="www.oldhengames.com"><img scr="" alt="Logo Old Hen Games"></a>

    <button class="Secondary-reverse"
            type="button">
            Contact
    </button>  

</nav>

<main>

    <img scr="" alt="Logo Age Of Champagne">

    <footer>
    
        <button class="Default"
                type="button">
                Inscription
        </button>         
        
        <button class="Secondary"
                type="button">
                Connexion
        </button>  
    
    </footer>

</main>

{% endblock %}
