{% extends 'base.html.twig' %}

{% block title %}Hello CollectionController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="style.css">
<p class="titleform">Votre collection de carte</p>
{% for element in collection %}
    <p class="textform">Id :<br> {{ element.id }}</p>
    <p class="textform">Nom :<br> {{ element.name }}</p>
    <p class="textform">Description :<br> {{ element.description}}</p>
    <hr style="color:white;">
{% endfor %}
{% endblock %}
