{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <link rel="stylesheet" href="style.css">
    <div class="corps">
        <nav class="contentAcceuil">
            <nav class="column">
                <a href="{{path('app_qrcode')}}"><img class="image2nd" src="img/qrReader.png" alt="qrcode logo"></a>
                <a href="{{path('app_carte_public')}}"><img class="image2nd-2" src="img/card.png" alt="card logo"></a>
            </nav>
            <nav class="center">
                <a href="https://www.ageofchampagne.fr/"><img class="logo" src="img/AOCLogo.png" alt="Logo Old Time Cats"></a>
            </nav>
            <nav class="column">
                <a href="?"><img class="image2nd" src="img/maps.png" alt="maps logo"></a>
                <a href="?"><img class="image2nd-2" src="img/info.png" alt="info logo"></a>
            </nav>
        </nav>
        <div class=column>
            <div class="content2nd" style="opacity:90%">
                <nav class="text">
                <p id="txt">Vous voulez jouer ?<br>
                <a href="https://www.ageofchampagne.fr/"><img id="jeu" src="img/jeu.png" alt="jeu image"></a>
                <br>
                Procurez vous le jeu en cliqnant sur la boite ci dessus !</p>
                </nav>
            </div>
            <nav class="contentUl" style="padding:10px;">
                <p class="titleform">Vous voulez laisser un avis ou soumettre un probleme ?</p>
                {{form(comment_form)}}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{path('app_comment')}}">Voir Commentaire (disponible uniquement pour admin)</a>
                {% endif %}
            </nav>
        </div>
    </div>
    {% block footer %}
        {% include "partials/_footer.html.twig" %}
    {% endblock %}
{% endblock %}
