{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<style>
            
    body{
        background-color: #0e0e11;
        margin:0;
    }
    .corps{
        background-color: #141418;
    }
    .foot{
        background-color: #07080a;
        text-align:center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .image
    {
        height: 50px;
        padding-right: 15px;
        padding-left: 15px;
        transition: .3s ease-in-out;
    }
    .image:hover {
        height: 52px;
    }
    .contentAcceuil{
        padding: 25px;
        display: flex;
        justify-content: space-around;
        background-image: url('img/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .column{
        display: flex;
        flex-direction: column;
    }
    .image2nd{
        transition: .1s ease-in-out;
        animation: img 3s ;
    }
    .image2nd-2{
        animation: img 3s ;
        transition: .1s ease-in-out;
    }
    .image2nd-2:hover{
        filter: invert(35%);
    }
    .image2nd:hover{
        filter: invert(35%);
    }
    .logo{
       animation: img 3s ;
    }
    @keyframes img{
                0% {
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #rules {
        position:absolute;
        top:340px;
        left:47%;
        transition: .3s ease-in-out;
        height: 55px;
        animation: img 3s ;
            }
    #rules:hover{
        height: 58px;
    }

    #jeu {
        position:absolute;
        top:100px;
        left:85%;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        animation: mvt2 3s ;
        height:120px;
            }
    #jeu:hover {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
        transition-duration: 0.5s;
    }
        
            @keyframes mvt2{
                0% {
                    left:95%;
                }
                100%{
                    left: 85%;
                }
            }
    .content2nd {
        display: flex;
    }
    .text {
        display: flex;
        background-color: #0e0e11;
        border-radius: 15px;
        flex:1;
        margin: 20px;
        margin-top: 50px;
        font-size: 25px;
        font-weight: bold;
        color: #f2f4f3;
        justify-content: center;
        padding-top: 15px;
    }

    #map {
        display: flex;
        height: 300px;
        border-radius: 15px;
        margin: 20px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    #map:hover{
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

    #deco {
        position:absolute;
        top:400px;
        left:13%;
        animation: mvt3 3s ;
        transition: .3s ease-in-out;
        height: 75px;
            }      
            @keyframes mvt3{
                0% {
                    left:0%;
                    top: 300px;
                }
                100%{
                    top:400;
                    left: 13%;
                }
            }
    #admin{
        position:absolute;
        height: 55px;
        top:80px;
        left:5%;
        transition: .1s ease-in-out;
    }
    #admin:hover{
        height: 58px;
    }
    
@media only screen and (max-width: 1110px) {
    #map{
        height: 200px;
    }
    .text{
        margin-top: 30px;
    }
    #deco{
        display:none;
    }
    @keyframes mvt2{
                0% {
                    left:95%;
                }
                100%{
                    left: 82%;
                }
    }
    #jeu{
        left:82%;
    }
}

@media only screen and (max-width: 900px) {
    .corps{
        margin-right: 80px;
        margin-left: 80px;
    }
    .content2nd{
        display: flex;
        flex-direction: column;
    }
    #flexmap{
        display: flex;
        flex: 1;
        justify-content: center;
    }
    .image2nd{
        width: 75px;
        height: 75px;
        transition: .3s ease-in-out;
        animation: img 3s ;
    }
    .image2nd-2{
        width: 75px;
        height: 75px;
        margin-top: 70px;
        animation: img 3s ;
        transition: .3s ease-in-out;
    }
    .logo{
        width: 125px;
        height: 87px;
    }
    #jeu{
        height: 75px;
        left:87%;
    }
            @keyframes mvt2{
                0% {
                    left:95%;
                }
                100%{
                    left: 87%;
                }
            }
            #rules {
        top:300px;
        left:45%;
        height: 45px;
            }
    #rules:hover{
        height: 47px;
    }
    #deco{
        display:none;
    }
    #map{
        height: 400;
    }
}
@media only screen and (max-width: 775px){
    #map{
        display: none;
    }
    #jeu{
        height: 75px;
        left:82%;
    }
            @keyframes mvt2{
                0% {
                    left:95%;
                }
                100%{
                    left: 82%;
                }
            }
    .text {
        font-size: 15px;
    }
}
@media only screen and (min-width: 900px){
    .corps{
        margin-right: 170px;
        margin-left: 170px;
    }
    .image2nd{
        width: 100px;
        height: 100px;
        transition: .3s ease-in-out;
        animation: img 3s ;
    }
    .image2nd-2{
        width: 100px;
        height: 100px;
        margin-top: 70px;
        animation: img 3s ;
        transition: .3s ease-in-out;
    }
    .logo{
        width: 160px;
        height: 105px;
    }
}
</style>
<html lang="fr-FR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"/>
    <title>Acceuil</title>
</head>
<body>
    <div class="corps">
        <nav class="contentAcceuil">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="?"><img id="admin" src="img/admin.png" alt="gestion admin"> </a>
        {% endif %}
            <nav class="column">
                <a href="{{path('app_qrcode')}}"><img class="image2nd" src="img/qrReader.png" alt="qrcode logo"></a>
                <a href="?"><img class="image2nd-2" src="img/card.png" alt="card logo"></a>
            </nav>
            <nav class="center">
                <a href="https://www.ageofchampagne.fr/"><img class="logo" src="img/AOCLogo.png" alt="Logo Old Time Cats"></a>
            </nav>
            <nav class="column">
                <a href="?"><img class="image2nd" src="img/maps.png" alt="maps logo"></a>
                <a href="?"><img class="image2nd-2" src="img/info.png" alt="info logo"></a>
            </nav>
        </nav>
        <a href="https://www.ageofchampagne.fr/1-acquisitiondevignoble"><img id="rules" src="img/rules.png" alt="rules logo"></a>
        <a href="https://www.ageofchampagne.fr/"><img id="jeu" src="img/jeu.png" alt="jeu image"></a>
        <div class="content2nd">
            <nav class="text">Information +</nav>
            <nav id="flexmap">
                <img id="map" src="img/map.png" alt="map AOC">
            </nav>
            <img id="deco" src="img/deco.png" alt="image décorative"> 
        </div>
    </div>
    <nav class="foot">
        <a href="https://www.facebook.com/AgeofChampagne/"><img class="image" src="img/facebook.png" alt="Discord" ></a>
        <a href="https://www.linkedin.com/company/74071514/"><img class="image" src="img/in.png" alt="LinkedIn"></a>
        <a href="https://linktr.ee/ageofchampagne"><img  class="image" src="img/autre.png" alt="Instagram"></a>
    </nav>
{% endblock %}
