{% extends 'base.html.twig' %}

{% block body %}
<ul class="contentUl">
                {% for comment in comments|slice(0, 5) %}
                    <div class="flex-items">
                        <li class="contentLi">
                            <nav class="column" style="margin-left:20px; justify-content: space-around;">
                                <p class="textform" style="font-size:20px;">Nom de la carte : <strong>{{ comment.content }}</strong></p> 
                                <p class="textform" style="font-size:20px;">Nom de la carte : <strong>{{ comment.sender }}</strong></p> 
                                
                            </nav>
                        </li>
                    </div>
                {% endfor %}
            </ul>
{% endblock %}
