{% extends 'base.html.twig' %}

{% block title %}ActiviteFormulaire{% endblock %}

{% block body %}
    <link rel="stylesheet" href="style.css">
    <div class="formul">
    <p class="titleform">Formulaire d'ajout d'une activite !</p>
        {{form(formulaire)}}
    </div>
{% endblock %}

