    body{
        background-color: #0e0e11;
        margin:0;
    }
    .corps{
        background-color: #141418;
    }
    .foot{
        background-color: #07080a;
        text-align:center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .image
    {
        height: 40px;
        padding-right: 15px;
        padding-left: 15px;
        transition: .3s ease-in-out;
    }
    .image:hover {
        height: 42px;
    }
    .contentAcceuil{
        padding: 25px;
        display: flex;
        justify-content: space-around;
        background-image: url('img/bg2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .column{
        display: flex;
        flex-direction: column;
    }
    .image2nd{
        transition: .1s ease-in-out;
        animation: img 3s ;
    }
    .image2nd-2{
        animation: img 3s ;
        transition: .1s ease-in-out;
    }
    .image2nd-2:hover{
        filter: invert(35%);
    }
    .image2nd:hover{
        filter: invert(35%);
    }
    .logo{
       animation: img 3s ;
    }
    @keyframes img{
                0% {
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
#jeu {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        animation: mvt2 3s ;
        height:120px;
            }
    #jeu:hover {
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
        transition-duration: 0.5s;
    }
        
            @keyframes mvt2{
                0% {
                    left:95%;
                }
                100%{
                    left: 85%;
                }
            }
    .content2nd {
        display: flex;
    }
    #txt{
        font-size:17px;
        font-weight:bold;
        font-family: serif;
        text-align:center;
    }
    .text {
        display: flex;
        background-color: #0e0e11;
        border-radius: 15px;
        flex:1;
        margin: 20px;
        margin-top: 50px;
        font-size: 25px;
        font-weight: bold;
        color: #f2f4f3;
        justify-content: center;
        padding-top: 15px;
    }

    #map {
        display: flex;
        height: 300px;
        border-radius: 15px;
        margin: 20px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    #map:hover{
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }

    #deco {
        position:absolute;
        top:400px;
        left:13%;
        animation: mvt3 3s ;
        transition: .3s ease-in-out;
        height: 75px;
            }      
            @keyframes mvt3{
                0% {
                    left:0%;
                    top: 300px;
                }
                100%{
                    top:400;
                    left: 13%;
                }
            }
    
@media only screen and (max-width: 1110px) {
    #map{
        height: 200px;
    }
    .text{
        margin-top: 30px;
    }
    #deco{
        display:none;
    }
    @keyframes mvt2{
                0% {
                    left:95%;
                }
                100%{
                    left: 82%;
                }
    }
}

@media only screen and (max-width: 900px) {
    .corps{
        margin-right: 80px;
        margin-left: 80px;
    }
    .content2nd{
        display: flex;
        flex-direction: column;
    }
    #flexmap{
        display: flex;
        flex: 1;
        justify-content: center;
    }
    .image2nd{
        width: 75px;
        height: 75px;
        transition: .3s ease-in-out;
        animation: img 3s ;
    }
    .image2nd-2{
        width: 75px;
        height: 75px;
        margin-top: 70px;
        animation: img 3s ;
        transition: .3s ease-in-out;
    }
    .logo{
        width: 125px;
        height: 87px;
    }
    #deco{
        display:none;
    }
    #map{
        height: 400;
    }
}
@media only screen and (max-width: 775px){
    #map{
        display: none;
    }
    .text {
        font-size: 15px;
    }
    .image{
        height:30px;
    }
}
@media only screen and (min-width: 900px){
    .corps{
        margin-right: 170px;
        margin-left: 170px;
    }
    .image2nd{
        width: 100px;
        height: 100px;
        transition: .1s ease-in-out;
        animation: img 3s ;
    }
    .image2nd-2{
        width: 100px;
        height: 100px;
        margin-top: 70px;
        animation: img 3s ;
        transition: .1s ease-in-out;
    }
    .logo{
        width: 160px;
        height: 105px;
    }
}