{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateur{% endblock %}

{% block body %}
    <h1>Liste des utilisateur</h1>
    <ul>
        {% for utilisateur in utilisateurs %}
            <li><a href ='{{ path('app_utilisateur', {'id': utilisateur.id}) }}'>{{ utilisateur.nom }}  {{ utilisateur.prenom }}</li>
        {% endfor %}
    </ul>

{% endblock %}