{% extends 'base.html.twig' %}

{% block title %}Modification de profil{% endblock %}

{% block body %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning mt-4">
                {{ message }}
            </div>
        {% endfor %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
            <h1 class="mt-4">Modification de votre profil</h1>
            {{ form(form) }}
        <a href="{{ path('app_edit_password', {id : app.user.id}) }}">Modifier le mot de passe</a>
        </div>
    </div>
</div>
{% endblock %}
