{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<nav>
    <a href="www.oldhengames.com"><img src="{{ asset("img/Logos/OHGblack.png") }}" alt="Logo Old Hen Games" /></a>

    
    <a href="mailto:aoc.le.jeu@gmail.com" class="Secondary-reverse">
            Contact
    </a>
    

</nav>

<main>

    <img src="img/Logos/AOCwhite.png" alt="Logo Age Of Champagne">

    <footer>
    
        <a href="" class="Default">
                Inscription
        </a>
        
        <a href="" class="Secondary">
                Connexion
        </a>
    
    </footer>

</main>

{% endblock %}
