{% extends 'base.html.twig' %}

{% block title %}Cartes de la Région {{ regions.nom }}{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>{{ regions.nom }}</h1>
   <br>
    <div class="d-flex justify-content-center flex-wrap container-partner-card">
        {% for carte in cartes %}
            <div class="card" style="width: 15rem;">
                <a href="{{ path('app_carte_show', {'id': carte.id}) }}"><img class="card-img-top" src="{{ vich_uploader_asset(carte, 'imageFile')  }}" alt="Card image cap">
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
