{% extends 'base.html.twig' %}

{% block title %}Carte de la Région {{ region.nom }}{% endblock %}

{% block body %}
    <h1>{{ region.nom }}</h1>
    {{ include('pages/carte/_carte.html.twig', {'region': region.carte}) }}
{% endblock %}
